@font-face {
    font-family: 'yisu-kaiti';
    unicode-range: U+4E00-9FFF;
    font-style: italic;
    /* It applies ONLY on Chinese characteres */
    src: local('BieuKai'), local('STKaiti'), local('KaiTi'), local('楷体'), url('../fzktj.ttf') format('truetype');
    /* Or other KaiTi-liked fonts on your local computer */
}